html {
  height: 100px;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  text-align: center;
  padding-top: 50px;
  overflow: hidden;
}

.pencils {
}

.row {
  height: 66px;
  position: relative;
}

.row > svg {
  transition-duration: 1s;
}

/* Left */
.row > svg:first-child {
  transform: rotate(180deg);
  position: fixed;
  right: 50vw;
  padding-bottom: 2px;
}

.row.shift > svg:first-child {
  transform: rotate(180deg) translate(50px);
}

/* Right */
.row > svg:nth-child(2) {
  transform: translate(0, -19px);
  position: fixed;
  left: 36vw;
}

.row.shift > svg:nth-child(2) {
  transform: translate(50px, -15px);
}
