html {
  height: 100px;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  text-align: center;
  padding-top: 50px;
  overflow: hidden;
}

.pencils {
}

.row {
  height: 100%;
  position: relative;
  margin-bottom: -34px;
}

.row > svg {
  transition-duration: 1s;
}

/* Left */
.row > svg:first-child {
  transform: rotate(180deg);
  position: absolute;
  top: 22%;
  left: 0;
  width: 56%
  
}

.row.shift > svg:first-child {
  transform: rotate(180deg) translate(50px);
}

/* Right */
.row > svg:nth-child(2) {
  transform: translate(0, -19px);
  position: absolute;
  top: 0;
  right: 0;
  width: 57%;
}

.row.shift > svg:nth-child(2) {
  transform: translate(50px, -15px);
}

@media (min-width: 1230px) {
  .row > svg:first-child, .row > svg:nth-child(2) {
    width: 55%;
  }
}
